# Created by https://www.toptal.com/developers/gitignore/api/java,maven,eclipse,idea
# Edit at https://www.toptal.com/developers/gitignore?templates=java,maven,eclipse,idea

### Eclipse ###
**/.DS_Store
.DS_Store
.idea/
*.pydevproject
.metadata
Bin/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE)
*.pyc

# CDT-specific (C/C++ IDE)
.cproject

# Android Studio-specific (Space separated folders)
.tools

# IDE-specific (Temp Files)
*.tmp
*.bak
*.swp

### Idea ###
# Covers JetBrains IDEs: IntelliJ IDEA, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm, and DataGrip
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/expressions.xml
.idea/**/metrics.xml
.idea/**/changes.xml
.idea/**/gradle.xml
.idea/**/mavenRunner.xml
.idea/**/ModuleEditor.xml
.idea/**/vcs.xml
.idea/**/codeStyleSettings.xml
.idea/**/copyright/profiles_settings.xml
.idea/**/intellj-scope-settings.xml
.idea/**/dynamics.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/kotlinc.xml
.idea/**/file.template.settings.xml
.idea/**/code-insight-analysis.xml
.idea/**/codestream.xml
.idea/**/navigation.xml
.idea/**/projectModuleManager.xml
.idea/**/rModuleManager.xml
.idea/**/sonarModuleSettings.xml
.idea/**/sonarlint.xml
.idea/**/aws.xml
.idea/**/privacy.xml
.idea/**/runonce.xml
.idea/**/cache
.idea/**/libraries
.idea/**/inspection
.idea/**/webServers.xml
.idea/**/webserverConfigurations.xml
.idea/**/sshConfigs.xml
.idea/**/codeStyles/codeStyleConfig.xml
.idea/**/codeStyles/Project.xml
.idea/**/codeStyles/Project_shared.xml
.idea/**/vcs-log.xml
.idea/**/vcsState.xml
.idea/**/xsl_option.xml
.idea/**/scopes/scope_settings.xml
.idea/**/cas.xml
.idea/**/edp.xml
.idea/**/sonarlint/issuestore
.idea/**/sonarlint/connections
.idea/**/markdown
.idea/**/runConfigurations
.idea/**/testHistory
.idea/**/coverage
.idea/**/swagger
.idea/**/saveactions
.idea/**/code-validation.xml
.idea/**/codeCleanup.xml
.idea/**/dependencyStructureTree.xml
.idea/**/encodings.xml
.idea/**/messages
.idea/**/maven.index.xml
.idea/**/maven.import.xml
.idea/**/junitgenerator.xml
.idea/**/jpa-buddy.xml
.idea/**/ksp.xml
.idea/**/loadflow.xml
.idea/**/loadflow.settings
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/material_theme.xml
.idea/**/postfixCompletionTemplates.xml
.idea/**/scopes/defaultScope.xml
.idea/**/scopes/scope_default.xml
.idea/**/scopes/scope_prod.xml
.idea/**/scopes/scope_staging.xml
.idea/**/scopes/scope_test.xml
.idea/**/scopes/scope_uat.xml
.idea/**/scopes/scope_dev.xml
.idea/**/scopes/scope_local.xml
.idea/**/scopes/scope_development.xml
.idea/**/scopes/scope_production.xml
.idea/**/scopes/scope_qa.xml
.idea/**/scopes/scope_qc.xml
.idea/**/scopes/scope_quality.xml
.idea/**/scopes/scope_release.xml
.idea/**/scopes/scope_stage.xml
.idea/**/scopes/scope_staging.xml
.idea/**/scopes/scope_testing.xml
.idea/**/scopes/scope_trunk.xml
.idea/**/scopes/scope_master.xml
.idea/**/scopes/scope_main.xml
.idea/**/scopes/scope_feature.xml
.idea/**/scopes/scope_bugfix.xml
.idea/**/scopes/scope_hotfix.xml
.idea/**/scopes/scope_support.xml
.idea/**/scopes/scope_experimental.xml
.idea/**/scopes/scope_temp.xml
.idea/**/scopes/scope_work.xml
.idea/**/scopes/scope_personal.xml
.idea/**/scopes/scope_private.xml
.idea/**/scopes/scope_public.xml
.idea/**/scopes/scope_shared.xml
.idea/**/scopes/scope_team.xml
.idea/**/scopes/scope_common.xml
.idea/**/scopes/scope_global.xml
.idea/**/scopes/scope_project.xml
.idea/**/scopes/scope_application.xml
.idea/**/scopes/scope_module.xml
.idea/**/scopes/scope_component.xml
.idea/**/scopes/scope_service.xml
.idea/**/scopes/scope_api.xml
.idea/**/scopes/scope_client.xml
.idea/**/scopes/scope_server.xml
.idea/**/scopes/scope_frontend.xml
.idea/**/scopes/scope_backend.xml
.idea/**/scopes/scope_mobile.xml
.idea/**/scopes/scope_desktop.xml
.idea/**/scopes/scope_web.xml
.idea/**/scopes/scope_database.xml
.idea/**/scopes/scope_config.xml
.idea/**/scopes/scope_env.xml
.idea/**/scopes/scope_environment.xml
.idea/**/scopes/scope_test.xml
.idea/**/scopes/scope_devops.xml
.idea/**/scopes/scope_ci.xml
.idea/**/scopes/scope_cd.xml
.idea/**/scopes/scope_deploy.xml
.idea/**/scopes/scope_monitoring.xml
.idea/**/scopes/scope_logging.xml
.idea/**/scopes/scope_security.xml
.idea/**/scopes/scope_performance.xml
.idea/**/scopes/scope_integration.xml
.idea/**/scopes/scope_e2e.xml
.idea/**/scopes/scope_unit.xml
.idea/**/scopes/scope_acceptance.xml
.idea/**/scopes/scope_regression.xml
.idea/**/scopes/scope_smoke.xml
.idea/**/scopes/scope_load.xml
.idea/**/scopes/scope_stress.xml
.idea/**/scopes/scope_volume.xml
.idea/**/scopes/scope_soak.xml
.idea/**/scopes/scope_spike.xml
.idea/**/scopes/scope_endurance.xml
.idea/**/scopes/scope_reliability.xml
.idea/**/scopes/scope_usability.xml
.idea/**/scopes/scope_functional.xml
.idea/**/scopes/scope_nonfunctional.xml
.idea/**/scopes/scope_system.xml
.idea/**/scopes/scope_acceptance.xml
.idea/**/scopes/scope_user.xml
.idea/**/scopes/scope_business.xml
.idea/**/scopes/scope_requirement.xml
.idea/**/scopes/scope_feature.xml
.idea/**/scopes/scope_story.xml
.idea/**/scopes/scope_task.xml
.idea/**/scopes/scope_bug.xml
.idea/**/scopes/scope_issue.xml
.idea/**/scopes/scope_ticket.xml
.idea/**/scopes/scope_epic.xml
.idea/**/scopes/scope_sprint.xml
.idea/**/scopes/scope_backlog.xml
.idea/**/scopes/scope_product.xml
.idea/**/scopes/scope_project.xml
.idea/**/scopes/scope_team.xml
.idea/**/scopes/scope_org.xml
.idea/**/scopes/scope_company.xml
.idea/**/scopes/scope_enterprise.xml
.idea/**/scopes/scope_government.xml
.idea/**/scopes/scope_ngo.xml
.idea/**/scopes/scope_education.xml
.idea/**/scopes/scope_healthcare.xml
.idea/**/scopes/scope_finance.xml
.idea/**/scopes/scope_retail.xml
.idea/**/scopes/scope_manufacturing.xml
.idea/**/scopes/scope_transportation.xml
.idea/**/scopes/scope_energy.xml
.idea/**/scopes/scope_telecom.xml
.idea/**/scopes/scope_media.xml
.idea/**/scopes/scope_entertainment.xml
.idea/**/scopes/scope_sports.xml
.idea/**/scopes/scope_travel.xml
.idea/**/scopes/scope_food.xml
.idea/**/scopes/scope_fashion.xml
.idea/**/scopes/scope_real_estate.xml
.idea/**/scopes/scope_insurance.xml
.idea/**/scopes/scope_legal.xml
.idea/**/scopes/scope_pharma.xml
.idea/**/scopes/scope_biotech.xml
.idea/**/scopes/scope_aerospace.xml
.idea/**/scopes/scope_automotive.xml
.idea/**/scopes/scope_agriculture.xml
.idea/**/scopes/scope_environment.xml
.idea/**/scopes/scope_science.xml
.idea/**/scopes/scope_technology.xml
.idea/**/scopes/scope_engineering.xml
.idea/**/scopes/scope_research.xml
.idea/**/scopes/scope_development.xml
.idea/**/scopes/scope_testing.xml
.idea/**/scopes/scope_qa.xml
.idea/**/scopes/scope_it.xml
.idea/**/scopes/scope_network.xml
.idea/**/scopes/scope_hardware.xml
.idea/**/scopes/scope_software.xml
.idea/**/scopes/scope_data.xml
.idea/**/scopes/scope_ai.xml
.idea/**/scopes/scope_ml.xml
.idea/**/scopes/scope_dl.xml
.idea/**/scopes/scope_cv.xml
.idea/**/scopes/scope_nlp.xml
.idea/**/scopes/scope_robotics.xml
.idea/**/scopes/scope_iot.xml
.idea/**/scopes/scope_blockchain.xml
.idea/**/scopes/scope_cybersecurity.xml
.idea/**/scopes/scope_privacy.xml
.idea/**/scopes/scope_ethics.xml
.idea/**/scopes/scope_policy.xml
.idea/**/scopes/scope_compliance.xml
.idea/**/scopes/scope_standards.xml
.idea/**/scopes/scope_regulatory.xml
.idea/**/scopes/scope_audit.xml
.idea/**/scopes/scope_risk.xml
.idea/**/scopes/scope_governance.xml
.idea/**/scopes/scope_quality.xml
.idea/**/scopes/scope_process.xml
.idea/**/scopes/scope_methodology.xml
.idea/**/scopes/scope_agile.xml
.idea/**/scopes/scope_scrum.xml
.idea/**/scopes/scope_kanban.xml
.idea/**/scopes/scope_xp.xml
.idea/**/scopes/scope_Lean.xml
.idea/**/scopes/scope_cmmi.xml
.idea/**/scopes/scope_iso.xml
.idea/**/scopes/scope_cobit.xml
.idea/**/scopes/scope_itil.xml
.idea/**/scopes/scope_pmi.xml
.idea/**/scopes/scope_prince2.xml
.idea/**/scopes/scope_rup.xml
.idea/**/scopes/scope_up.xml
.idea/**/scopes/scope_openup.xml
.idea/**/scopes/scope_fdd.xml
.idea/**/scopes/scope_dsdm.xml
.idea/**/scopes/scope_crystal.xml
.idea/**/scopes/scope_fdd.xml
.idea/**/scopes/scope_extreme.xml
.idea/**/scopes/scope_prototype.xml
.idea/**/scopes/scope_spike.xml
.idea/**/scopes/scope_vmodel.xml
.idea/**/scopes/scope_wmodel.xml
.idea/**/scopes/scope_incremental.xml
.idea/**/scopes/scope_iterative.xml
.idea/**/scopes/scope_waterfall.xml
.idea/**/scopes/scope_bigbang.xml
.idea/**/scopes/scope_prototyping.xml
.idea/**/scopes/scope_spiral.xml
.idea/**/scopes/scope_rad.xml
.idea/**/scopes/scope_jad.xml
.idea/**/scopes/scope_bsd.xml
.idea/**/scopes/scope_ads.xml
.idea/**/scopes/scope_oosd.xml
.idea/**/scopes/scope_mda.xml
.idea/**/scopes/scope_mdd.xml
.idea/**/scopes/scope_mda.xml
.idea/**/scopes/scope_mdd.xml
.idea/**/scopes/scope_domain.xml
.idea/**/scopes/scope_model.xml
.idea/**/scopes/scope_architecture.xml
.idea/**/scopes/scope_design.xml
.idea/**/scopes/scope_implementation.xml
.idea/**/scopes/scope_deployment.xml
.idea/**/scopes/scope_maintenance.xml
.idea/**/scopes/scope_retirement.xml
.idea/**/scopes/scope_lifecycle.xml
.idea/**/scopes/scope_phase.xml
.idea/**/scopes/scope_step.xml
.idea/**/scopes/scope_activity.xml
.idea/**/scopes/scope_task.xml
.idea/**/scopes/scope_role.xml
.idea/**/scopes/scope_responsibility.xml
.idea/**/scopes/scope_authority.xml
.idea/**/scopes/scope_permission.xml
.idea/**/scopes/scope_access.xml
.idea/**/scopes/scope_security.xml
.idea/**/scopes/scope_privilege.xml
.idea/**/scopes/scope_authentication.xml
.idea/**/scopes/scope_authorization.xml
.idea/**/scopes/scope_session.xml
.idea/**/scopes/scope_token.xml
.idea/**/scopes/scope_key.xml
.idea/**/scopes/scope_certificate.xml
.idea/**/scopes/scope_ssl.xml
.idea/**/scopes/scope_tls.xml
.idea/**/scopes/scope_encryption.xml
.idea/**/scopes/scope_decryption.xml
.idea/**/scopes/scope_hash.xml
.idea/**/scopes/scope_cipher.xml
.idea/**/scopes/scope_signature.xml
.idea/**/scopes/scope_digest.xml
.idea/**/scopes/scope_pkcs.xml
.idea/**/scopes/scope_rsa.xml
.idea/**/scopes/scope_aes.xml
.idea/**/scopes/scope_des.xml
.idea/**/scopes/scope_3des.xml
.idea/**/scopes/scope_blowfish.xml
.idea/**/scopes/scope_twofish.xml
.idea/**/scopes/scope_serpent.xml
.idea/**/scopes/scope_camellia.xml
.idea/**/scopes/scope_seed.xml
.idea/**/scopes/scope_lever.xml
.idea/**/scopes/scope_anubis.xml
.idea/**/scopes/scope_cast.xml
.idea/**/scopes/scope_gost.xml
.idea/**/scopes/scope_idea.xml
.idea/**/scopes/scope_misty.xml
.idea/**/scopes/scope_rc2.xml
.idea/**/scopes/scope_rc4.xml
.idea/**/scopes/scope_rc5.xml
.idea/**/scopes/scope_rc6.xml
.idea/**/scopes/scope_teax.xml
.idea/**/scopes/scope_salsa.xml
.idea/**/scopes/scope_chacha.xml
.idea/**/scopes/scope_poly1305.xml
.idea/**/scopes/scope_blake.xml
.idea/**/scopes/scope_sha.xml
.idea/**/scopes/scope_md5.xml
.idea/**/scopes/scope_md4.xml
.idea/**/scopes/scope_md2.xml
.idea/**/scopes/scope_ripemd.xml
.idea/**/scopes/scope_whirlpool.xml
.idea/**/scopes/scope_tiger.xml
.idea/**/scopes/scope_haval.xml
.idea/**/scopes/scope_groestl.xml
.idea/**/scopes/scope_jh.xml
.idea/**/scopes/scope_keccak.xml
.idea/**/scopes/scope_sha3.xml
.idea/**/scopes/scope_shabal.xml
.idea/**/scopes/scope_simd.xml
.idea/**/scopes/scope_skein.xml
.idea/**/scopes/scope_sm3.xml
.idea/**/scopes/scope_zzhash.xml
.idea/**/scopes/scope_xxhash.xml
.idea/**/scopes/scope_murmur.xml
.idea/**/scopes/scope_fnv.xml
.idea/**/scopes/scope_cityhash.xml
.idea/**/scopes/scope_spooky.xml
.idea/**/scopes/scope_farm.xml
.idea/**/scopes/scope_highway.xml
.idea/**/scopes/scope_crc.xml
.idea/**/scopes/scope_adler.xml
.idea/**/scopes/scope_fletcher.xml
.idea/**/scopes/scope_checksum.xml
.idea/**/scopes/scope_hash.xml
.idea/**/scopes/scope_crypto.xml
.idea/**/scopes/scope_cipher.xml
.idea/**/scopes/scope_block.xml
.idea/**/scopes/scope_stream.xml
.idea/**/scopes/scope_asymmetric.xml
.idea/**/scopes/scope_symmetric.xml
.idea/**/scopes/scope_publickey.xml
.idea/**/scopes/scope_privatekey.xml
.idea/**/scopes/scope_secretkey.xml
.idea/**/scopes/scope_password.xml
.idea/**/scopes/scope_passphrase.xml
.idea/**/scopes/scope_salt.xml
.idea/**/scopes/scope_iv.xml
.idea/**/scopes/scope_nonce.xml
.idea/**/scopes/scope_random.xml
.idea/**/scopes/scope_pseudo.xml
.idea/**/scopes/scope_true.xml
.idea/**/scopes/scope_entropy.xml
.idea/**/scopes/scope_urandom.xml
.idea/**/scopes/scope_random.xml
.idea/**/scopes/scope_rng.xml
.idea/**/scopes/scope_prng.xml
.idea/**/scopes/scope_trng.xml
.idea/**/scopes/scope_drng.xml
.idea/**/scopes/scope_hrng.xml
.idea/**/scopes/scope_crng.xml
.idea/**/scopes/scope_srng.xml
.idea/**/scopes/scope_mrng.xml
.idea/**/scopes/scope_frng.xml
.idea/**/scopes/scope_nrng.xml
.idea/**/scopes/scope_orng.xml
.idea/**/scopes/scope_arng.xml
.idea/**/scopes/scope_brng.xml
.idea/**/scopes/scope_crng.xml
.idea/**/scopes/scope_drng.xml
.idea/**/scopes/scope_erng.xml
.idea/**/scopes/scope_frng.xml
.idea/**/scopes/scope_grng.xml
.idea/**/scopes/scope_hrng.xml
.idea/**/scopes/scope_irng.xml
.idea/**/scopes/scope_jrng.xml
.idea/**/scopes/scope_krng.xml
.idea/**/scopes/scope_lrng.xml
.idea/**/scopes/scope_mrng.xml
.idea/**/scopes/scope_nrng.xml
.idea/**/scopes/scope_orng.xml
.idea/**/scopes/scope_prng.xml
.idea/**/scopes/scope_qrng.xml
.idea/**/scopes/scope_rrng.xml
.idea/**/scopes/scope_srng.xml
.idea/**/scopes/scope_trng.xml
.idea/**/scopes/scope_urng.xml
.idea/**/scopes/scope_vrng.xml
.idea/**/scopes/scope_wrng.xml
.idea/**/scopes/scope_xrng.xml
.idea/**/scopes/scope_yrng.xml
.idea/**/scopes/scope_zrng.xml

# Default ignored files
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/config.xml
.idea/**/webServers.xml
.idea/**/webserverConfigurations.xml
.idea/sonarlint/issuestore
.idea/sonarlint/connections
.idea/**/issue.base
.idea/**/workbench.base
.idea/**/workbench.xml
.idea/**/ide-file-extensions.xml
.idea/**/features-trainer.xml
.idea/**/git_toolbox_prj.xml
.idea/**/github-pr-toolwindow.xml
.idea/**/node_modules
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dynamic.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/heroku.xml
.idea/aws.xml
.idea/caches/*
.idea/**/caches/*

# Gradle
.idea/gradle.xml
.idea/**/gradle.xml

# Maven
idea/vcs.xml
idea/modules.xml
com.intellij.idea.modules.core.iml

### Java ###
*.class
*.war
*.jar
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.orig

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/jvm.config
.mvn/wrapper/maven-wrapper.properties
# End of https://www.toptal.com/developers/gitignore/api/java,maven,eclipse,idea